@media (min-width: 800px) and (max-width: 1200px) {
  .animation {
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }

  .animation  .weather {
    width: 100px;
    height: 100px;
  }

  /* sun */
  .animation .sun {
    width: 55px;
    height: 55px;
  }

  @keyframes sun {
    0%{
      opacity: 1;
      bottom: 15px;
      right: 15px;
    }
    4%{
      bottom: 55px;
      right: 55px;
    }
    4.5%{
      bottom: 50px;
      right: 50px;
      opacity: 1;
    }
    15%{
      opacity: 1;
    }
    16%{
      bottom: 50px;
      right: 50px;
      opacity: 0;
    }
    100%{
      opacity: 0;
      bottom: 0px;
      right: 0px;
    }
  }

  /* cloud */
  .animation .cloud {
    bottom: 6px;
    left: 2px;
  }

  .animation .cloud .c_shadow ul li {
    width: 38px !important;
    height: 38px !important;
  }

  .animation .cloud .c_shadow ul li:nth-child(2) {
    width: 58px !important;
    height: 58px !important;
    bottom: 7px !important;
    left: 16px !important;
  }

  .animation .cloud .cloud_1:before {
    width: 62px;
    height: 10px;
    left: 16px;
  }

  .animation .cloud .cloud_1 ul li {
    width: 30px;
    height: 30px;
  }

  .animation .cloud .cloud_1 ul li:nth-child(2) {
    width: 50px;
    height: 50px;
    bottom: 8px;
    left: 15px;
  }

  .animation .cloud .cloud_1 ul li:nth-child(3) {
    width: 40px;
    height: 40px;
    left: 40px;
    bottom: 4px;
  }

  .animation .cloud .cloud_1 ul li:last-child {
    width: 30px;
    height: 30px;
    left: 63px;
  }

  @keyframes cloud {
    0%{
    transform: scale(0.95);
    left: 50px;
    bottom: 25px;
    opacity: 0;
  }
    2%{
      opacity: 1;
    }
    3.5%{
      bottom: 25px;
      left: 5px;
      opacity: 1;
    }
    17%{
      opacity: 1;
      bottom: 25px;
    }
    19%{
      bottom: 50px;
    }
    60%{
      opacity: 1;
    }
    80%{
      opacity: 1;
    }
    90%{
      opacity: 0;
    }
    95%{
      opacity: 0;
      bottom: 50px;
      left: 5px;
    }
  }

  /* haze */
  .animation .haze {
    width: 100px;
    height: 16px;
    bottom: 48px;
  }

  .animation .haze_line {
    width: 70px;
    height: 6px;
    bottom: 50px;
    left: 14px;
  }

  .animation .haze_line:nth-child(6) {
    bottom: 38px;
  }

  @keyframes haze {
    0%{
      opacity: 0;
    }
    20%{
      height: 0px;
      opacity: 0;
    }
    22%{
      height: 16px;
      opacity: 1;
    }
    41%{
      opacity:1;
      height: 16px;
    }
    42%{
      opacity: 0;
      height: 0px;
    }
  }

  /* thunder */
  .animation .thunder {
    bottom: 45px;
    left: 42px;
    width: 8px;
    height: 10px;
  }
  
  .animation .thunder::before {
    top: 6px;
    left: 0;
    width: 16px;
    height: 5px;
  }
  
  .animation .thunder:after{
    top: 10px;
    right: -9px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 14px solid #ffe3A4;
  }

  @keyframes thunder {
    0%{
      opacity: 0;
      bottom: 45px;
      left: 42px;
    }
    42%{
      opacity: 0;
      bottom: 45px;
    }
    44%{
      opacity: 1;
      bottom: 25px;
    }
    45%{
      opacity: 1;
      bottom: 30px;
    }
    55%{
      opacity: 1;
      bottom: 30px;
    }
    58%{
      opacity: 0;
    }
  }

  /* rain */
  .animation .rain,
  .animation .rain_2 {
    left: 10px;
  }

  .animation .rain ul li,
  .animation .rain_2 ul li {
    width: 6px;
    height: 25px;
    margin-left: 18px;
  }
  
  @keyframes raini {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 45px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 45px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: 35px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: 37px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: 37px;
    }
    67%{
      opacity: 0;
      bottom: -8px;
      left: 6px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }

  @keyframes rainii {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 23px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 23px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: 13px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: 15px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: 15px;
    }
    67%{
      opacity: 0;
      bottom: -1px;
      left: -4px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }
  
  @keyframes rainiii {
    0%{
      opacity: 0;
      bottom: 40px;
      left: 0px;
    }
    60%{
      opacity: 0;
      bottom: 40px;
      left: 0px;
    }
    61%{
      opacity: 1;
      bottom: 8px;
      left: -10px;
    }
    62%{
      opacity: 1;
      bottom: 18px;
      left: -8px;
    }
    66%{
      opacity: 1;
      bottom: 18px;
      left: -8px;
    }
    67%{
      opacity: 0;
      bottom: -8px;
      left: -28px;
    }
    75%{
      opacity: 0;
      bottom: 15px;
    }
  }
}