* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #aed9ff;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.animation {
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 180px;
  height: 180px;
}

/* weather */
.animation  .weather {
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 10px;
}

/* sun */
.animation .sun {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 85px;
  height: 85px;
  background: #ffe3A4;
  border-radius: 360px;
  opacity: 1;
  animation: sun 10s 0s linear infinite;
}

@keyframes sun {
  0%{
    opacity: 1;
    bottom: 35px;
    right: 35px;
  }
  4%{
    bottom: 80px;
    right: 80px;
  }
  4.5%{
    bottom: 75px;
    right: 75px;
    opacity: 1;
  }
  15%{
    opacity: 1;
  }
  16%{
    bottom: 75px;
    right: 75px;
    opacity: 0;
  }
  100%{
    opacity: 0;
    bottom: 0px;
    right: 0px;
  }
}

/* cloud */
.animation .cloud {
  position: absolute;
  bottom: 12px;
  left: 8px;
  z-index: 2;
  opacity: 0;
  animation: cloud 10s 0s linear infinite;
}

.animation .cloud .cloud_1:not(.c_shadow) ul li {
  animation: cloudi 10s 0.1s linear infinite;
}

.animation .cloud .cloud_1:not(.c_shadow):before {
  animation: cloudi 10s 0s linear infinite;
}

.animation .cloud .c_shadow {
  z-index: 4 !important;
  left: -5px;
  bottom: -3px !important;
}

.animation .cloud .c_shadow:before {
  background: #aed9ff !important;
}

.animation .cloud .c_shadow ul li {
  width: 60px !important;
  height: 60px !important;
  background: #aed9ff !important;
  float: left;
  position: absolute;
  bottom: -2px !important;
  border-radius: 360px;
}

.animation .cloud .c_shadow ul li:nth-child(2) {
  width: 80px !important;
  height: 80px !important;
  background: #aed9ff !important;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 16px !important;
  left: 25px !important;
}

.animation .cloud .cloud_1 {
  position: absolute;
  bottom: 0px;
  z-index: 5;
}

.animation .cloud .cloud_1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 28px;
  width: 90px;
  height: 20px;
  background: #fff;
}

.animation .cloud .cloud_1 ul li {
  width: 50px;
  height: 50px;
  background: #fff;
  float: left;
  border-radius: 360px;
}

.animation .cloud .cloud_1 ul li:nth-child(2) {
  width: 70px;
  height: 70px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 18px;
  left: 25px;
}

.animation .cloud .cloud_1 ul li:nth-child(3) {
  width: 60px;
  height: 60px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 8px;
  left: 60px;
}

.animation .cloud .cloud_1 ul li:last-child {
  width: 50px;
  height: 50px;
  background: #fff;
  float: left;
  border-radius: 360px;
  position: absolute;
  bottom: 0px;
  left: 90px;
}

@keyframes cloud {
  0%{
    transform: scale(0.95);
    left: 50px;
    bottom: 35px;
    opacity: 0;
  }
  2%{
    opacity: 1;
  }
  3.5%{
    bottom: 35px;
    left: 10px;
    opacity: 1;
  }
  17%{
    opacity: 1;
    bottom: 35px;
  }
  19%{
    bottom: 70px;
  }
  60%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0;
  }
  95%{
    opacity: 0;
    bottom: 70px;
    left: 10px;
  }
}

@keyframes cloudi {
  0%{
    background: #fff;
  }
  35%{
    background: #fff;
  }
  40%{
    background: #abc0d5;
  }
  95%{
    background: #abc0d5;
  }
}

/* haze */
.animation .haze {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 150px;
  height: 45px;
  z-index: 6;
  opacity: 0;
  animation: haze 10s 0s linear infinite;
  background: #aed9ff;
}

.animation .haze_line {
  position: absolute;
  bottom: 75px;
  left: 20px;
  width: 115px;
  height: 10px;
  z-index: 17;
  opacity: 0;
  border-radius: 360px;
  animation: haze_line 10s .1s linear infinite;
  background: #c5d5e6;
}

.animation .haze_line:nth-child(6) {
  bottom: 55px;
  animation: haze_line 10s .2s linear infinite;
}

.animation .haze_line:last-child {
  bottom: 35px;
  animation: haze_line 10s .4s linear infinite;
}

@keyframes haze {
  0%{
    opacity: 0;
  }
  20%{
    height: 0px;
    opacity: 0;
  }
  22%{
    height: 45px;
    opacity: 1;
  }
  41%{
    opacity:1;
    height: 45px;
  }
  42%{
    opacity: 0;
    height: 0px;
  }
}

@keyframes haze_line {
  0%{
    opacity: 0;
  }
  23%{
    opacity: 0;
  }
  24%{
    opacity: 1;
  }
  35%{
    opacity: 0;
  }
}

/* thunder */
.animation .thunder {
  position: absolute;
  bottom: 90px;
  left: 65px;
  width: 12px;
  height: 12px;
  opacity: 0;
  transform: skew(-25deg);
  animation: thunder 10s 0s linear infinite;
  background: #ffe3A4;
}

.animation .thunder::before {
  content: '';
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 8px;
  background: #ffe3A4
}

.animation .thunder:after{
  content: '';
  position: absolute;
  width: 0; 
  height: 0;
  top: 18px;
  right: -14px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 20px solid #ffe3A4;
  transform: skew(5deg);
}

@keyframes thunder {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 65px;
  }
  42%{
    opacity: 0;
    bottom: 90px;
  }
  44%{
    opacity: 1;
    bottom: 40px;
  }
  45%{
    opacity: 1;
    bottom: 45px;
  }
  55%{
    opacity: 1;
    bottom: 45px;
  }
  58%{
    opacity: 0;
  }
}

/* rain */
.animation .rain,
.animation .rain_2 {
  position: absolute;
  bottom: 0px;
  left: 25px;
}

.animation .rain ul li {
  float: left;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-left: 20px;
  background: #7ac4f3;
  width: 10px;
  height: 40px;
  border-radius: 360px;
  transform: rotate(35deg);
  opacity: 0;
}

.animation .rain_2 ul li {
  float: left;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-left: 20px;
  background: #fff;
  width: 10px;
  height: 40px;
  border-radius: 360px;
  transform: rotate(35deg);
  opacity: 0;
}

.animation .rain ul li:first-child { 
  animation: raini 10s 0s linear infinite;
}

.animation .rain ul li:nth-child(2) {
  animation: rainii 10s 0.2s linear infinite;
}

.animation .rain ul li:last-child {
  animation: rainiii 10s 0.4s linear infinite;
}

.animation .rain_2 ul li:first-child { 
  animation: raini 10s 1.0s linear infinite;
}

.animation .rain_2 ul li:nth-child(2) {
  animation: rainii 10s 1.2s linear infinite;
}

.animation .rain_2 ul li:last-child {
  animation: rainiii 10s 1.4s linear infinite;
}

@keyframes raini {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 60px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 60px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: 50px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: 52px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: 52px;
  }
  67%{
    opacity: 0;
    bottom: -10px;
    left: 6px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}

@keyframes rainii {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 30px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 30px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: 20px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: 22px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: 22px;
  }
  67%{
    opacity: 0;
    bottom: -1px;
    left: -6px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}

@keyframes rainiii {
  0%{
    opacity: 0;
    bottom: 90px;
    left: 0px;
  }
  60%{
    opacity: 0;
    bottom: 90px;
    left: 0px;
  }
  61%{
    opacity: 1;
    bottom: 10px;
    left: -10px;
  }
  62%{
    opacity: 1;
    bottom: 20px;
    left: -8px;
  }
  66%{
    opacity: 1;
    bottom: 20px;
    left: -8px;
  }
  67%{
    opacity: 0;
    bottom: -10px;
    left: -28px;
  }
  75%{
    opacity: 0;
    bottom: 15px;
  }
}